.AddVacation>form {
    width: 250px;
    height: 510px;
    text-align: left;
    display: inline-block;
    margin: 40px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.AddVacation .AddInput {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 8px;
    height: 30px;
    width: 220px;
}

.AddVacation .AddTextarea {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 8px;
    height: 70px;
    width: 220px;
}

.AddVacation label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.AddVacation .BtnAdd {
    width: 100%;
    margin-top: 12px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.AddVacation h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}

.AddVacation .SpanMessage {
    color: red;
    margin: 15px 40px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.AddVacation .SpanImageMessage {
    color: red;
    margin-left: 265px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.AddVacation a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: medium;
    position: relative;
    color: rgb(40, 8, 71);
    font-weight: bolder;
}

.AddVacation>div {
    margin-top: 15px;
}